// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: false;
$enable-validation-icons: true;
$enable-deprecation-messages: true;


// Color system
//
//

// Grays
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #252525;
$black: #000;

// Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #c8323c;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #44d62c;
$teal: #20c997;
$cyan: #28aadc;

// Settings
$theme-color-interval: 8%;
$yiq-contrasted-threshold: 200;
$yiq-text-light: $white;
$yiq-text-dark: #212738;

// Theme
$primary: #44d62c;
$secondary: #333;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white; //#252525;
$dark: #eee;


// Body
//
// Settings for the `<body>` element.
$body-bg: $black;
$body-color: color-yiq($body-bg);

$navbar-dark-active-color: $body-color;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem;


// Links
//
// Style anchor elements.
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
$emphasized-link-hover-darken-percentage: 15%;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px );


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px );


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;


// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;

$font-size-base: .9375rem;
$font-size-lg: 1.0625rem;
$font-size-sm: $font-size-base * .875;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;

$text-muted: #888;

$h1-font-size: $font-size-base * 3.125; // ~50px
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-margin-bottom: $spacer / 2;
$headings-font-family: 'agencyr', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: $font-weight-light;
$headings-line-height: 1.2;
$headings-color: $primary;


// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: 1.4;
$line-height-sm: 1.4;

$border-width: 1px;
$border-color: $gray-300;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$box-shadow: 0 2px 5px #111;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: .475rem;
$input-btn-padding-x: 1.5rem;
$input-btn-font-size: 1.125rem;

$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .5rem;

$input-btn-padding-y-lg: .875rem;
$input-btn-padding-x-lg: 1.25rem;


// Forms
$input-bg: $body-bg;

// Jumbo
$jumbotron-bg: #252525;

// Modals
$modal-content-bg: $body-bg;

// Navbar
$navbar-nav-link-padding-x: 2rem;


// Custom
//
//

$page-header-brand: 'Razer';
$page-header-height: 61px;
$page-header-bg: $black;
$page-header-border-color: $primary;
$page-header-link-color: $text-muted;
$page-header-link-hover-color: $white;

$page-footer-bg: #111111;
$page-footer-color: $text-muted;
$page-footer-border-color: $page-footer-bg;
$page-footer-link-color: $text-muted;
$page-footer-link-hover-color: $white;
$page-footer-link-hover-decoration: underline;

$bg-content: #252525;

$card-bg: $body-bg;
