@page
@model AboutModel
@{
	ViewData["Title"] = "About page";
}

<container>
	<heading level=H1 display-level=DisplayLevel.D4 class="text-center mb-5">ABOUT *COMPANY*</heading>
	<row class="mb-5">
		<column md=4>
			<heading level=H2>Heading 2</heading>
			<p class="text-muted">
				Floor and him on me that into is all flirt thy whom ebony sinking grave and so that chamber the nearly to with bird of the gently betook fancy shall his footfalls bust faintly sign gaunt on of gloated tinkled there eyes of my darkness that sad we said curtain
			</p>
		</column>
		<column md=4>
			<heading level=H2>Heading 2</heading>
			<p class="text-muted">
				His and whom floor is kind peering unmerciful i let denser lenore than silken door nearly and i sent lent rare and with ominous mystery was i smiling i the usby nevermore implore feather thee
			</p>
		</column>
		<column md=4>
			<heading level=H2>Heading 2</heading>
			<p class="text-muted">
				Chamber entrance that unbroken fantastic lordly if then bird over lenore wandering something the and angels tapping lamplight sought token other back door thee get my implore decorum heart living while sitting pondered nothing i whom lent my door this volume and name i distinctly bust he its shadow smiling what pondered censer again made beak door beating saintly and my much seat my while
			</p>
		</column>
	</row>
	<heading level=H2>Heading 2</heading>
	<p>Moment no borrow kind still still dream to the no engaged or lattice the back the stayed crest fluttered nevermore shall that grew clasp only in sad beguiling much at spoken and the door the opened much at fowl nothing crest take just ah and nepenthe that tell from thing the at lenore maiden pondered whom on stood in grim</p>
	<p>If i upon morrow yore craven shadow in chamber distinctly just sat tinkled murmured crest eagerly and guessing truly chamber sent and feather guessing nights till this had seat betook word wondering fact napping from tossed surely nevermore bird word this and human as me</p>

	<heading level=H3>Heading 3</heading>
	<p>Unmerciful window evilprophet this form bends came and nearly plutonian i lenore and sinking to this lie tapping tis on seraphim the with bust wheeled if of all as unseen word with the sorrow the</p>
	<p>Dared wind beguiling divining this bird your is never raven cushions open gave word the laden my entrance beast surcease maiden followed wind separate chamber little hath chamber i then into faster of bird back raven one least farther was nevermore shutter fast i above hear i over that quoth heart stillness and kind from thinking once i friends flutter whose of maiden by me the more meaninglittle above more with god front raven not nepenthe shall no my the nothing floor to shaven the</p>
	<p>Distinctly stock saintly there there raven came there and and feather no it more there was syllable to it the living my disaster silence out what nepenthe came usby quaint floating all raven gaunt respiterespite then clasp thy fantastic silken late tapping plutonian lenore floor that at dreaming here its this whom a maiden burden me that sad rapping melancholy rapping once is or i by napping scarce that i above the he these fancy plutonian with or unbroken ease on if shall my or into sure utters this the friends memories by in bust late distinctly more the word</p>

	<heading level=H4>Heading 4</heading>
	<p>Back raven plainly tapping sorrowsorrow shaven and bird was stronger seat bust rare in angels the at faster i me let this my be hath beguiling that dreary i there sat stood the and ghastly broken and thereis i never moment here whom bird over gently or in and soul dreary bore little flutter the implore whether its window was and is desert wondering said the ashore back my muttered to open at angels thrilled he the the and with grew i fast my token door quaff chamber nodded his nevermore angels its metell lord cried shadow whom uncertain the was lies my quoth tell fowl then one i what that he gloated followed hath land and the him laden i no maiden be quaff shutter there bird nevermore door not seeing door and being censer upon with raven doubtless memories longer at disaster heart only muttered thy wrought so</p>
</container>
