<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebUI</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="h-100 d-flex flex-column">
	<vc:page-header />

	<main role="main" class="flex-grow-1 py-3 overflow-auto custom-scrollbar custom-scrollbar--lg custom-scrollbar--primary">
		@RenderBody()
	</main>

	<vc:page-footer />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
